
$viewportIncrement: 1px!default;
$siteWidth: 1050px!default;
$small: 590px!default;
$medium: 768px!default;
$large: 769px!default;
$xlarge: $siteWidth + $viewportIncrement!default;

$postSmall: $small + $viewportIncrement!default;
$preMedium: $medium - $viewportIncrement!default;
$preLarge: $large - $viewportIncrement!default;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
	'small' '(max-width: #{$small})',
	'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
	'medium-down' '(max-width: #{$medium})',
	'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large')!default;
$breakpoint-has-push:  ('medium', 'medium-down', 'large')!default;
$breakpoint-has-pull:  ('medium', 'medium-down', 'large')!default;

/*================ Color variables ================*/
$colorPrimary: #1c1d1d!default;
$colorSecondary: #a26b25!default;

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: lighten($colorBtnPrimary, 12%)!default;
$colorBtnPrimaryActive: adaptive-color($colorPrimary, 24%)!default;
$colorBtnPrimaryText: #ffffff!default;

$colorBtnSecondary: $colorSecondary;
$colorBtnSecondaryHover: lighten($colorBtnSecondary, 10%)!default;
$colorBtnSecondaryActive: adaptive-color($colorSecondary, 10%)!default;
$colorBtnSecondaryText: #ffffff!default;

$colorBtnSecondaryAccent: $colorBtnPrimary;
$colorBtnSecondaryAccentHover: lighten($colorBtnSecondaryAccent, 12%)!default;
$colorBtnSecondaryAccentActive: adaptive-color($colorBtnSecondaryAccent, 24%)!default;

// Text link colors
$colorLink: $colorSecondary!default;
$colorLinkHover: $colorPrimary!default;

// Text colors
$colorTextBody: #222323!default;

// Heading colors
$colorHeadings: #222323!default;

// Backgrounds
$colorBody: #ffffff!default;
$colorProductBackground: #f7f7f7!default;
$colorInputBg: #f6f6f6!default;
$colorNewsletter: #f6f6f6!default;

// Border colors
$colorBorder: #1c1d1d!default;

// Border size
$borderWidthHeader: 1px!default;

// Sale tag color
$colorSaleTag: #990000!default;

// Nav and dropdown link background
$colorNav: $colorBody!default;
$colorNavText: $colorHeadings!default;

// Helper colors
$disabledGrey: #f6f6f6!default;
$disabledBorder: darken($disabledGrey, 25%)!default;
$errorRed: #d02e2e!default;
$errorRedBg: #fff6f6!default;
$successGreen: #56ad6a!default;
$successGreenBg: #ecfef0!default;

// Drawer sizes and colors
$drawerNavWidth: 300px!default;
$drawerCartWidth: 300px!default;
$drawerCartWidthLarge: 400px!default; // small-up width
$drawerHeaderHeight: 80px!default;
$drawerCartFooterHeight: 130px!default; // default, overwritten by JS
$colorDrawers: #1c1d1d!default;
$colorDrawerBorder: #343535!default;
$colorDrawerText: #ffffff!default;
$colorDrawerButton: #a26b25!default;
$colorDrawerButtonText: #ffffff!default;
$drawerTransition: 'all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1)'!default;

// Sizing variables
$gutter: 30px!default;
$gridGutterMobile: 22px!default;
$section-spacing-small: 35px!default;
$gridGutter: 30px!default; // can be a %, but nested grids will have smaller margins because of it
$contentTopMargin: 80px!default;
$contentTopMarginSmall: 35px!default;
$radius: 0!default;
$customSelectHeight: 46px!default;

// Z-index
$zindexNavDropdowns: 5!default;
$zindexDrawer: 10!default;
$zindexHeroHeader: 2!default;
$zindexDrawerOverlay: 20!default;

// Product Collage Grid
$collageImageXLarge: 670px!default;
$collageImageLarge: 520px!default;
$collageImageMedium: 310px!default;
$collageImageSmall: 230px!default;



// Collection Collage Grid
// These heights are used to determine the row height for the
// collection grid.
$collectionCollageRowHeightFull: 450px!default;
$collectionCollageRowHeightLarge: 310px!default;
$collectionCollageRowHeightSmall: 280px!default;

// Password page
$passwordPageUseBgImage: true!default;

// Section onboarding
$color-blankstate: rgba($colorTextBody, 0.35)!default;
$color-blankstate-background: rgba($colorTextBody, 0.10)!default;

/*================ Typography ================*/

// Header Font
$headerFontStack:"Old Standard TT", serif!default;
$headerFontWeight: 400!default;
$headerFontStyle: normal!default;
$headerBaseFontSize: 30px!default;

// Body Font
$bodyFontStack: Arapey, serif!default;
$bodyFontWeight: 400!default;
$bodyFontWeightBold: 700!default;
$bodyFontStyle: normal!default;
$baseFontSize: 16px!default; // Henceforth known as 1em

// Accent Font
$accentFontStack: Montserrat, sans-serif!default;
$accentFontWeight: 600!default;
$accentFontWeightBold: 900!default;
$accentFontStyle: normal!default;


$socialIconFontStack: 'icons'!default;


//Font Stack Mixins
@mixin headerFontStack {
	font-family: $headerFontStack;
	font-weight: $headerFontWeight;
	font-style: $headerFontStyle;
}

@mixin accentFontStack {
	font-family: $accentFontStack;
	font-weight: $accentFontWeight;
	font-style: $accentFontStyle;

	letter-spacing: 0.1em;


	text-transform: uppercase;

}

@mixin bodyFontItalic {

	font-style: italic;

}
