
$viewportIncrement: 1px!default;
$siteWidth: 1050px!default;
$small: 590px!default;
$medium: 768px!default;
$large: 769px!default;
$xlarge: $siteWidth + $viewportIncrement!default;

$postSmall: $small + $viewportIncrement!default;
$preMedium: $medium - $viewportIncrement!default;
$preLarge: $large - $viewportIncrement!default;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
	'small' '(max-width: #{$small})',
	'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
	'medium-down' '(max-width: #{$medium})',
	'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large')!default;
$breakpoint-has-push:  ('medium', 'medium-down', 'large')!default;
$breakpoint-has-pull:  ('medium', 'medium-down', 'large')!default;

/*================ Color variables ================*/
$colorPrimary: #1c1d1d!default;
$colorSecondary: #a26b25!default;

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: lighten($colorBtnPrimary, 12%)!default;
$colorBtnPrimaryActive: adaptive-color($colorPrimary, 24%)!default;
$colorBtnPrimaryText: #ffffff!default;

$colorBtnSecondary: $colorSecondary;
$colorBtnSecondaryHover: lighten($colorBtnSecondary, 10%)!default;
$colorBtnSecondaryActive: adaptive-color($colorSecondary, 10%)!default;
$colorBtnSecondaryText: #ffffff!default;

$colorBtnSecondaryAccent: $colorBtnPrimary;
$colorBtnSecondaryAccentHover: lighten($colorBtnSecondaryAccent, 12%)!default;
$colorBtnSecondaryAccentActive: adaptive-color($colorBtnSecondaryAccent, 24%)!default;

// Text link colors
$colorLink: $colorSecondary!default;
$colorLinkHover: $colorPrimary!default;

// Text colors
$colorTextBody: #222323!default;

// Heading colors
$colorHeadings: #222323!default;

// Backgrounds
$colorBody: #ffffff!default;
$colorProductBackground: #f7f7f7!default;
$colorInputBg: #f6f6f6!default;
$colorNewsletter: #f6f6f6!default;

// Border colors
$colorBorder: #1c1d1d!default;

// Border size
$borderWidthHeader: 1px!default;

// Sale tag color
$colorSaleTag: #990000!default;

// Nav and dropdown link background
$colorNav: $colorBody!default;
$colorNavText: $colorHeadings!default;

// Helper colors
$disabledGrey: #f6f6f6!default;
$disabledBorder: darken($disabledGrey, 25%)!default;
$errorRed: #d02e2e!default;
$errorRedBg: #fff6f6!default;
$successGreen: #56ad6a!default;
$successGreenBg: #ecfef0!default;

// Drawer sizes and colors
$drawerNavWidth: 300px!default;
$drawerCartWidth: 300px!default;
$drawerCartWidthLarge: 400px!default; // small-up width
$drawerHeaderHeight: 80px!default;
$drawerCartFooterHeight: 130px!default; // default, overwritten by JS
$colorDrawers: #1c1d1d!default;
$colorDrawerBorder: #343535!default;
$colorDrawerText: #ffffff!default;
$colorDrawerButton: #a26b25!default;
$colorDrawerButtonText: #ffffff!default;
$drawerTransition: 'all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1)'!default;

// Sizing variables
$gutter: 30px!default;
$gridGutterMobile: 22px!default;
$section-spacing-small: 35px!default;
$gridGutter: 30px!default; // can be a %, but nested grids will have smaller margins because of it
$contentTopMargin: 80px!default;
$contentTopMarginSmall: 35px!default;
$radius: 0!default;
$customSelectHeight: 46px!default;

// Z-index
$zindexNavDropdowns: 5!default;
$zindexDrawer: 10!default;
$zindexHeroHeader: 2!default;
$zindexDrawerOverlay: 20!default;

// Product Collage Grid
$collageImageXLarge: 670px!default;
$collageImageLarge: 520px!default;
$collageImageMedium: 310px!default;
$collageImageSmall: 230px!default;



// Collection Collage Grid
// These heights are used to determine the row height for the
// collection grid.
$collectionCollageRowHeightFull: 450px!default;
$collectionCollageRowHeightLarge: 310px!default;
$collectionCollageRowHeightSmall: 280px!default;

// Password page
$passwordPageUseBgImage: true!default;

// Section onboarding
$color-blankstate: rgba($colorTextBody, 0.35)!default;
$color-blankstate-background: rgba($colorTextBody, 0.10)!default;

/*================ Typography ================*/@font-face {
	font-family: Montserrat;
	font-weight: 600;
	font-style: normal;
	src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.7a3c341961dc23aaabcc116124b80f2a7abec1a2.woff2?&hmac=b92922e1683cc0012e34c7bf8312b5012a94a53fc8c072e1f67c774308ea2f2a") format("woff2"),
	url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.2c97c1a692c63ad09ab0635cb73b1939c5f417c0.woff?&hmac=8669c660350573f86fd9449c033c017f38297b619f249ae75e106208f636918b") format("woff");
}

@font-face {
	font-family: Arapey;
	font-weight: 400;
	font-style: normal;
	src: url("https://fonts.shopifycdn.com/arapey/arapey_n4.2d2866546ce54f39e3baf69f5d944e54b2e0771b.woff2?&hmac=5e984782c9a5779b38a9252cabb94652343a66369566d28d02efa67be50007e1") format("woff2"),
	url("https://fonts.shopifycdn.com/arapey/arapey_n4.a5bf746bd7b4646dec7a42e0f36c7afe1b3785db.woff?&hmac=da78a26ecfad5d5239dd0ba4f02f6d2289d1c9a4f4d4df4373e5aa19c9650572") format("woff");
}

@font-face {
	font-family: "Old Standard TT";
	font-weight: 400;
	font-style: normal;
	src: url("https://fonts.shopifycdn.com/old_standard_tt/oldstandardtt_n4.ee0951721b469828e44903ad5ff5815def33217a.woff2?&hmac=35507c66dac8c9d0310bc940fd487c3bf40fde9c780d7dee7f0614011cbacff7") format("woff2"),
	url("https://fonts.shopifycdn.com/old_standard_tt/oldstandardtt_n4.481b4779e20f0c9f07603272fe7c673a29ed154f.woff?&hmac=9369407adde49df269bd1700c9e5a23c8d778e617e9a22add69a8d05da5a15a0") format("woff");
}


@font-face {
	font-family: Arapey;
	font-weight: 400;
	font-style: italic;
	src: url("https://fonts.shopifycdn.com/arapey/arapey_i4.76b9c74110c86df9446495f3b98d8ff62e62229e.woff2?&hmac=5ea2449a9d733566f7d53fba6f6b72afa059dea3edbb5fbcacc885050eeb9f46") format("woff2"),
	url("https://fonts.shopifycdn.com/arapey/arapey_i4.54a950529ca14266fc22b37574a97a78f656c7bb.woff?&hmac=b70acc49502d135dbafcf4e22c3eaff2e4eac5bc8d919cf9d8da4f68126ff157") format("woff");
}


@font-face {
	font-family: Montserrat;
	font-weight: 900;
	font-style: normal;
	src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n9.ddaed62de62f3d3d87e64f4d0463dca05fc9c8e4.woff2?&hmac=b67d8128c9fe24e8ae2d92ed67e2a363d0b4e977e559b1f1ff89bd9af63b96fa") format("woff2"),
	url("https://fonts.shopifycdn.com/montserrat/montserrat_n9.85cc5f32e331fc9b3a109639b08869c64782e161.woff?&hmac=0dad9ff79b5ae51db870d72b5df326b1aa49c5d45832fbf06c7bb8a1bdae96ee") format("woff");
}


// Header Font
$headerFontStack: "Old Standard TT", serif!default;
$headerFontWeight: 400!default;
$headerFontStyle: normal!default;
$headerBaseFontSize: 30px!default;

// Body Font
$bodyFontStack: Arapey, serif!default;
$bodyFontWeight: 400!default;
$bodyFontWeightBold: 700!default;
$bodyFontStyle: normal!default;
$baseFontSize: 16px!default; // Henceforth known as 1em

// Accent Font
$accentFontStack: Montserrat, sans-serif!default;
$accentFontWeight: 600!default;
$accentFontWeightBold: 900!default;
$accentFontStyle: normal!default;

@font-face {
	font-family: 'icons';
	src: url('//cdn.shopify.com/s/files/1/0084/4044/7094/t/12/assets/icons.eot?8654520613586617613');
	src: url('//cdn.shopify.com/s/files/1/0084/4044/7094/t/12/assets/icons.eot?8654520613586617613#iefix') format("embedded-opentype"),
	url('//cdn.shopify.com/s/files/1/0084/4044/7094/t/12/assets/icons.woff?8654520613586617613') format("woff"),
	url('//cdn.shopify.com/s/files/1/0084/4044/7094/t/12/assets/icons.ttf?8654520613586617613') format("truetype"),
	url('//cdn.shopify.com/s/files/1/0084/4044/7094/t/12/assets/icons.svg?8654520613586617613#timber-icons') format("svg");
	font-weight: normal;
	font-style: normal;
};

$socialIconFontStack: 'icons'!default;


//Font Stack Mixins
@mixin headerFontStack {
	font-family: $headerFontStack;
	font-weight: $headerFontWeight;
	font-style: $headerFontStyle;
}

@mixin accentFontStack {
	font-family: $accentFontStack;
	font-weight: $accentFontWeight;
	font-style: $accentFontStyle;

	letter-spacing: 0.1em;


	text-transform: uppercase;

}

@mixin bodyFontItalic {

	font-style: italic;

}
