.Owool-Collection {

    //@include u-default-container;
    &__title {
        @include g-typeset(xl, font-san-serif);
        text-align: left;
    }

    &__product-grid{
      //  background: red;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
grid-gap: rhythm(2);
        @include breakpoint-range(sm,"<="){
            display: block;
        }

        @include margin-trailer(2);
    }
&__product-card{
    width: 100%;

    .g-Card__type{
        display: none;

    }
    .g-Card__vendor{

        @include g-typeset(base, font-serif);

       background-color: red;
    }
}
}

.grid-product__wrapper{

    .grid-product__title{
        @include g-typeset(lg, font-serif);

        @include breakpoint-range(sm,"<="){
            @include g-typeset(md, font-serif);
        }
    }
    .grid-product__vendor{
        @include g-typeset(sm, font-small-caps);
        font-size: 14px;
       // @include g-color-scheme(light,(background:false,foreground:true,accent:false,border:false));
//        background-color: green;

    }
    .grid-product__meta{

        //@include g-typeset(base, font-serif);
        //background-color: red;
    }
}
@debug "HI";

.rich-text-section{
    .rich-text.wrapper{
        @include breakpoint-range(sm,"<=") {
padding: 0 1em;
        }
        }
}

.feature-row__text{
    @include breakpoint-range(sm,"<=") {
        padding: 1em 1em;
    }
}