/**
 * Footer
 */
footer {
}

$my-default-spacing-variant: lg;



.Owool_Footer {
   // @include u-full-width-container;


    width: 100%;
    > .inner {
        @include u-make-container(90%);

    }
    $props: (
        background: true,
        foreground: true,
        border: false,
        accent:color(dark-accent-primary, foreground)
    );
    @include g-color-scheme(dark-accent-primary, $props);

    @include g-typeset(md, font-serif);

    text-align: left;

    //padding-top: get-spacing(2,lg);
    //todo: figure out better way of dealing with this
    a {
        font-family: inherit;
        font-size: inherit;
    }

    .footer-heading{
     //   @include g-typeset(lg, font-small-caps);
        @include rhythm-padding-sides(bottom, base , relative-size);


    }
    &__divider {
      //  @include u-leader-padding;
       @include 	rhythm-padding(md,false,relative-size);
    @include rhythm-padding-sides(top, lg , relative-size);
   // rhythm-padding($prop: $default-padding-variant ,$all:false, $key:$default-padding-key)

    }
    &__meta {
        @include 	rhythm-padding($my-default-spacing-variant);
       text-align: center;
    }

    &__social {
        @include 	rhythm-padding(base);
       // @include u-horizontal-list;
        display:flex;
        width:auto;

        @include rhythm-padding-sides(top bottom, base , relative-size);

        @include breakpoint-range(sm,"<="){
            //@include u-make-container(70%);
        }

        & > * {
            margin-right:  get-lookup-prop(relative-size,base);
        }

    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        grid-gap: get-lookup-prop(relative-size,lg);
    //    @debug "LOOKUP #{get-lookup-prop(absolute-size,5)}";

        @include breakpoint-range(sm,"<="){
            display: block;
        }
    }
    &__divider {
       @include leader();
    }
}

//SASS

#purchase {
    text-align: center;
}

//TODO::REMOVDE
@include breakpoint-range(sm, "<=") {
///HELLO
   test{
       background: red;
   }
}



