/**
 * Footer
 */
footer {
}

$my-default-spacing-variant: lg;

.Owool_Footer {
   // @include u-full-width-container;


    width: 100%;
    > .inner {
        @include u-make-container(90%);

    }
    $props: (
        background: true,
        foreground: true,
        border: false,
        accent:color(dark-accent-primary, foreground)
    );
    @include g-color-scheme(dark-accent-primary, $props);

    @include set-type(md, font-serif);

    text-align: left;

    //padding-top: get-spacing(2,lg);
    //todo: figure out better way of dealing with this
    a {
        font-family: inherit;
        font-size: inherit;
    }
    &__divider {
        @include 	rhythm-padding($my-default-spacing-variant);

    }
    &__meta {
        @include 	rhythm-padding($my-default-spacing-variant);
       text-align: center;
    }

    &__social {
        @include 	rhythm-padding($my-default-spacing-variant);
        @include u-horizontal-list;
        @include breakpoint-range(sm,"<="){
            @include u-make-container(70%);
        }

    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        grid-gap: get-spacing();

        @include breakpoint-range(sm,"<="){
            display: block;
        }
    }
    &__divider {
       @include leader();
    }
}

//SASS

#purchase {
    text-align: center;
}

//TODO::REMOVDE
@include breakpoint-range(sm, "<=") {
///HELLO
   test{
       background: red;
   }
}



