$logo-width: 15%;

$show-guides: false;

[data-section-type="header-section"] {
	border-top: 2px solid color($chroma-active-scheme, accent);
}

.Owool_Header {

	$self: &;
	@include breakpoint-range(sm, "<=") {
		display: none;
	}
	@include u-default-container;
	@extend %u-reset-link-color;

	padding-top: rhythm(1);

	position: relative;
	display: block;

	&__wrapper {

		display: grid;
		grid-template-columns: $logo-width 1fr;

		@include breakpoint-range(xl, ">=") {
			// background: red;
			grid-template-columns: 12% 1fr;

		}
		//grid-template-rows: 100% 100%;
		grid-gap: 0;

		justify-items: stretch;
		align-items: stretch;
		width: 100%;

		> * {
			&:nth-child(1) {
				@if ($show-guides) {
					background: pink;
				}
				grid-row-start: 1;
				grid-row-end: span 2;

			}
			&:nth-child(2) {
				@if ($show-guides) {
					background: orange;
				}
				align-self: flex-start;
			}
			&:nth-child(3) {
				@if ($show-guides) {
					background: yellow;
				}
				display: flex;
				justify-content: flex-end;
			}
			&:nth-child(4) {
				@if ($show-guides) {
					background: red;
				}
			}
		}
	}

	&__logo {

		width: 85%;

		.Owool_Logo_SVG {
			width: 100%;
			height: auto;
		}
	}

	&__meta {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: auto;
		flex-wrap: nowrap;

		$props: (
			background: true,
			foreground: true,
			border: false,
			accent:foreground
		);
	}

	//part of meta
	&__cart {
		width: auto;
		@include u-horizontal-list();
		align-items: center;

		.c-button__icon {
			//@include u-icon-svg(false,1.5em);
		}
		&-icon {
			display: flex;
		}
		&-item-count {

			@include set-type(base, font-serif-italic);
			a {
				color: color(accent) !important;
			}
			&.--active {

			}
		}
	}

	&__social {
		width: auto;
		height: 100%;
		@include u-horizontal-list();
	}

	&__customer {
		width: auto;

		@include set-type(base, font-serif-italic);

		a {
			color: color(accent) !important;
		}
		padding: 0 rhythm(.5) 0 rhythm(1);
		@include u-horizontal-list();
		align-items: center;

		&-account {

		}
		&-login {

		}
		&-logout {

		}
		&-create {

		}
	}

	&__search {
		//background: red;
		//display: none;
	}
}

.Owool_Main-Menu {

	display: flex;
	@include u-horizontal-list(flex-end);
	align-items: center;

	width: 100%;
	height: auto;
	$parent: &;

	$props: (
		background: true,
		foreground: true,
		border: false,
		accent:true
	);
	@include g-color-scheme(light, $props);

	&__item {
		$parent: &;
		@include u-transition(opacity);
		$props: (
			background: false,
			foreground: true,
			border: false,
			fill:accent,
			hover-foreground:false,
			hover-fill: false
		);
		@include c-kabob(light-alt, $props, $reflect: true, $type-collection: ((font-size typography), (lg font-san-serif))) {
			&__left, &__right {
				opacity: 0;
				@include u-transition(opacity);
			}
			&:hover {
				#{$parent}__left, #{$parent}__right {
					opacity: 1;
				}
			}
		}
		a {
			@extend %u-reset-link-color;
		}
	}
}
