<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
 section 'product-template'
{% endcomment %}

{% section 'new-product-section' %}

{% comment %} start-bc-recently-viewed-template {% endcomment %}
<div class="bc-sf-recent-products-wrapper bc-sf-widget-slider-wrapper">
    <div class="bc-sf-recent-products bc-sf-widget-products owl-carousel"></div>
</div>
{% comment %} end-bc-recently-viewed-template {% endcomment %}
