<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<div js-mount-vue="TestApp" class="add-to-cart-multiple"  prop-label="Kit #2"  prop-productid="1919179161718" prop-variantid></div>


<div js-mount-vue="TestApp" class="add-to-cart-multiple"  prop-label="Kit #2"  prop-productid="1919090589814" prop-variantid></div>

{% section 'new-product-section' %}