<div js-mount-vue="AddToCart" prop-metavisible="true" prop-disableunavailable="true" class="add-to-cart-multiple" prop-label="CORAL REEF" prop-addtocartvariants='[  {"quantity": 1, "id": "18250174562422"} , {"quantity": 4, "id": "18249852846198"} ]'></div>



<div js-mount-vue="AddToCart" class="add-to-cart-multiple" prop-label="Kit #2"  prop-addtocartvariants='[  {"quantity": 3, "message":"this is a color way ","id": "18250174595190"} , {"quantity": 4, "id": "18250174627958"} ]'></div>

<div js-mount-vue="ProductVariantSelector" class="add-to-cart-multiple" prop-label="Kit #2"  prop-productid prop-variantid></div>

<div js-mount-vue="AdminProductApp" class="add-to-cart-multiple"  prop-label="Kit #2"  prop-productid prop-variantid></div>

<div js-mount-vue="TestApp" class="add-to-cart-multiple"  prop-label="Kit #2"  prop-productid prop-variantid></div>


