<div class="g-icon-sources" style="display: none">
	{% include 'c-icon-svg', output_icon_name: 'leaves-a' %}
	{% include 'c-icon-svg', output_icon_name: 'loadinganim' %}
	{% include 'c-icon-svg', output_icon_name: 'search' %}
	{% include 'c-icon-svg', output_icon_name: 'account' %}
	{% include 'c-icon-svg', output_icon_name: 'plus' %}
	{% include 'c-icon-svg', output_icon_name: 'minus' %}
	{% include 'c-icon-svg', output_icon_name: 'divider-right' %}
	{% include 'c-icon-svg', output_icon_name: 'leaves-single' %}


</div>


