<div class="g-icon-sources" style="display: none">
	{% include 'c-icon-svg', output_icon_name: 'leaves-a' %}
	{% include 'c-icon-svg', output_icon_name: 'loadinganim' %}
	{% include 'c-icon-svg', output_icon_name: 'search' %}
	{% include 'c-icon-svg', output_icon_name: 'account' %}
	{% include 'c-icon-svg', output_icon_name: 'plus' %}
	{% include 'c-icon-svg', output_icon_name: 'minus' %}
	{% include 'c-icon-svg', output_icon_name: 'cart' %}
	{% include 'c-icon-svg', output_icon_name: 'arrow-right' %}
	{% include 'c-icon-svg', output_icon_name: 'divider-right' %}
	{% include 'c-icon-svg', output_icon_name: 'leaves-single' %}
	{% include 'c-icon-svg', output_icon_name: 'vintage-arrow-2' %}
	{% include 'c-icon-svg', output_icon_name: 'vintage-arrow-1' %}

</div>


