<div class="product-single__description rte" itemprop="description">
	{{ product.description }}
</div>
<div class="product-single__meta" itemprop="description">
	{% include 'c-product-details-table' %}
</div>

{% if section.settings.social_sharing_products %}
	{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
{% endif %}

