{% comment %}
This is the full Product App vue component.
{% endcomment %}

<div js-mount-vue="ProductApp"  class="c-product-app"
     prop-productid="{{ product_id }}"
     prop-variantid="{{ variant_id }}"
     prop-sectionsettings='{{   settings | json }}'
></div>
