@import url('https://use.typekit.net/kxg6qeb.css');


// Header Font
$headerFontStack: get-type-prop(font-family,font-small-caps);
$headerFontWeight: get-type-prop(font-weight);
$headerFontStyle: get-type-prop(font-style);
$headerBaseFontSize: 30px;

// Body Font
$bodyFontStack:  get-type-prop(font-family);
$bodyFontWeight:  get-type-prop(font-weight);
$bodyFontWeightBold: 700;
$bodyFontStyle: get-type-prop(font-style);
$baseFontSize: 16px; // Henceforth known as 1em

// Accent Font
$accentFontStack:get-type-prop(font-family,font-san-serif);
$accentFontWeight: get-type-prop(font-weight,font-small-caps);
$accentFontWeightBold: 900;
$accentFontStyle: normal;