@if ($include-base-classes) {

 @include establish-baseline;

    body {
        @include font-smoothing(true);
        width:100%;
        max-width: 100vw;
        overflow-x: hidden;
    }

    p {
           // @include set-type(29px, font-serif);
    }
    /*
     * Links

     */
    a {
        @extend %u-reset-link-color;
        color: color(light,link);
            text-decoration: none;
        &:hover{
            color: color(light,accent);

            text-decoration: inherit;
        }
    }

    body,
    input,
    textarea,
    button,
    select {
        @include g-typeset(base, font-serif);

        $props: (
            background: false,
            foreground: true,
            accent: false,
        );
        @include g-color-scheme($chroma-active-scheme, $props);

    }

    /* Headers */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
       color: color(light,accent);
        margin-bottom: 0;
        margin-top: 0;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    h1 {
        @include g-typeset(5, font-serif);
    }

    h2 {
        @include g-typeset(xl, font-serif);

    }

    h3 {
        @include g-typeset(lg, font-serif);
    }


    h4 {
        @include g-typeset(md, font-serif);
    }

    h5 {
        @include g-typeset(md, font-serif);

    }

    h6 {
        @include g-typeset(sm, font-serif);
    }

    /*
    !* Text-Related Elements *!
    */
    p {
        @include trailer();
    }

    /*
    !* Blockquote *!
    */
    blockquote {

        @include g-typeset(md,font-serif-italic);
       // @include trailer();
    }

    abbr {
        cursor: help;
    }

   /* !*------------------------------------*\
        $MEDIA ELEMENTS
    \*------------------------------------*!*/

    img, video, object, svg {
        max-width: 100%;
        height: auto;
    }

    iframe {
    }

    figure {
        img {
        }
    }
    figcaption {
        font-style: italic;
    }

    /*------------------------------------*/
     // LIST ELEMENTS
  /*------------------------------------*/

    ol, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    /*
    !* Definition Lists *!
    */
    dl {
        overflow: hidden;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 0;
    }


}