
//@import "scaffold";
//@import "templates/prod
// uct";
//@import "templates
//
// /cart-page";
//@import "variables";
@import "custom";
@import "base";

@import "sections/sections";
@import "snippets/hero";
@import "snippets/search-bar";
@import "snippets/announcement-bar";
@import "snippets/email-list-form";
@import 'snippets/_bc-sf-filter.scss';
@import "snippets/pagination";

@import "../vue-components/vue-numeric-input";

@import "snippets/ajax-cart";

//@import "snippets/pagination";

.main-content{
	padding: 0;
}
.main-content .wrapper{
	@include breakpoint-range(sm,"<="){
		padding: 0;
	}
}

.do-touch-manipulation{
	touch-action: manipulation;
	-ms-touch-action: manipulation;
}
#preview-bar-iframe{
	display: none;
}

/*================ Site-wide styles ================*/
/*================ Partials | Layout Styles ================*/
html,
body {
	background-color: $colorBody;
}

[tabindex="-1"]:focus {
	outline: none;
}

.wrapper {
	//@include u-make-container(80%);
	max-width: $siteWidth;
margin: 0 auto;
//	padding: 0 ($gutter / 2);

	@include at-query ($min, $postSmall) {
		//padding: 0 $gutter;
	}
}

.main-content {
	display: block;
	 padding-top: 4rem;
	@include breakpoint-range(sm,"<="){
		padding-top: 2rem;

	}

	//@include rhythm-padding(xl,true,absolute-size);
	@include at-query($min, $postSmall) {
		//padding-bottom: 40px;
	}

	@include at-query($min, $large) {
	//	padding-top: $contentTopMargin;
	}
}



