@import "vue-numeric-input";

.kit_container{
	@include custom-vue-numeric-input;
}

.single_item_container{
	@include custom-vue-numeric-input(false,0 auto);
}

@debug "THIS IS A CUSTOM";
.PendingItemsComponent{
	.kit_container{
		display:flex;
		align-items: center;

	}

	ul{
		padding: 0;
	}

	&.--productApp{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		.pending-item-name{
			//@include 	rhythm-padding($my-default-spacing-variant);
		}
		.pending-item-available,.pending-item-price{
			//@include 	u-leader-padding($my-default-spacing-variant);
			@include g-typeset(xs,font-small-caps )
		}



		////CUSTOMIZED OVERRIDE OF VUE NUMERIC INPUT

	}
	.PendingItemsComponent{

	}


	.PendingItem {
		&Wrapper {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
@include u-make-container(100%);
		}

		&Image {
			display: block;
			width: 33%;
			height: 100%;

			img {
				height: auto;
				width: 100%;
				max-width: 100%;
			}
		}

		&Details {
			text-align: left;
			width: 100%;
		}

		&Loader {
			width: 100%;
		}

		&Unavailable {
			background: red;

			.PendingItemTitle {
				text-decoration: line-through;

			}

		}
	}
}



.single_item_container{

}

.ProductApp{

	.product-single{


		&__meta{
padding-top: 0;
		}
		&__title{
			@include breakpoint-range(md, ">=") {
				margin-bottom: 0;
			}

		}
		&__title-mobile {
			@include g-typeset(5,font-serif);
			@include breakpoint-range(md, ">=") {
				display: none;
			}
		}
		&__subtitle{
			@include g-typeset(base,font-small-caps);
		}
	}

	.product__main-loader{

	}
	.product__divider{
		@include u-leader-padding(lg);
		@include u-trailer-padding(md);
		font-size: 12px;
		width: 99%;
		margin: 0 auto;
		opacity: .5;
	}

	.product__price-container{

	}


}
.component-productApp{


.product-single__meta{
///	padding: 0;
}

	.pending-item-price{


	}
}