.email-list-form {

	$color-scheme: light-alt;
	& > * {
		@include u-horizontal-list(0);
	}

	input[type="text"] {
		width: 100%;
	}
	@include input-placeholder() {
		color: color($color-scheme, foreground);
	}
}