

.hero{
	&__text-wrapper{
		@include g-color-scheme(light,(background: true,border:false,accent:true,foreground:true));

		text-align: left;
		@include rhythm-padding(xl,true);

		width: 80%;

		@include breakpoint-range(sm,"<="){
			@include rhythm-padding(lg,true);
			width: 100%;
		}

		$my-color: color(light,background);
		$my-opacity: 0.9;

		background-color: #{rgba($my-color, $my-opacity)};



		//background-color: #{$greenAlpha};
	}
	&__text-content{
//		@include g-color-scheme(light,(background: false,border:false,accent:true,foreground:true));

	}
	&__slide &__subtitle{
		@include g-typeset(lg, font-serif-italic);

		@include breakpoint-range(sm,"<="){
			@include g-typeset(md, font-serif-italic);
		}

			//	text-transform: uppercase;
		//background: red;
	}
	&__slide &__title{
		@include g-typeset(xxl, font-serif-bold);

		@include breakpoint-range(sm,"<="){
			@include g-typeset(xl, font-serif-bold);
		}
		//@include g-color-scheme(dark,(background:false,border:false,accent:false,foreground:true));
	}
	.hero__cta{
		//@include g-typeset(lg,font-small-caps);

		width: auto;
		& a {
		color:inherit;
		}
		//@include g-color-scheme(dark,(background: true,border:false,fill:true,foreground:true))
	}

}